@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  /* CORES */
  --background-color: #1c1e5a;
  --cards: #3a2f8f;
  --primary-color: #9d67c9;
  --destaque-color: #a8298f;
  --botao: #8f39a4;
  --texto-principal: #ffffff;
  --texto-secundario: #c9b2e5;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--texto-principal);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}
header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--texto-principal);
  margin-bottom: .8rem;
}

header p {
  max-width: 600px;
  margin: 0 auto;

  font-size: 1.1rem;
  line-height: 1.6;
  padding: 2px 0;
  color: var(--texto-secundario);
}
form {
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-container input {
  flex: 1;

  padding: 1rem 1.5rem;

  border: none;
  border-radius: 50px;

  background-color: var(--cards);
  color: var(--texto-principal);

  outline: none;

  font-size: 1rem;

  transition: .3s;
}

.search-container input::placeholder {
  color: var(--texto-secundario);
}

.search-container input:focus {
  box-shadow: 0 0 15px rgba(157, 103, 201, 0.4);
}
.search-container button {
  padding: 0.9rem 1.4rem;

  border: none;
  border-radius: 50px;

  background: var(--destaque-color);
  color: var(--texto-principal);

  font-size: .95rem;
  font-weight: 500;

  cursor: pointer;
  transition: .3s;
}

.search-container button:hover {
  background: transparent;
border: 2px solid var(--primary-color);
}
#results {
  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 2rem;
}